dapps/
docs/jsdoc/
release
ssl/

# Config files
test/config.json
sftp-config.json

# Logs
logs/*.log
stacktrace*

# Code Editors
.DS_Store
.ed25519-node
.idea/
.project
.vscode/
__MACOSX/

# Tests
test/.coverage-unit
test/.coverage
test/.nyc_output

# Temporary data
tmp
*.swp
*.swo

# npm
node_modules
package-lock.json
npm-debug.log
nodejs
